<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" href="../style/estilosMain.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="titulo">
				<h1>Veterinaria <span class="texto">pe</span></h1>
			</div><!-- titulo -->
			<nav>
				<ul>
					<li><a href="main.html">Inicio</a></li>
					<li><a href="veterinario.html">Veterinario</a></li>
					<li><a href="sede.html">Sede</a></li>
					<li class="actual"><a href="containerctenos.html">Contactenos</a></li>
				</ul>
			</nav>
		</div><!-- container -->
	</header>
	<section id="formulario">
		<div class="subtitulo">
			<p id="subContact">Contactenos</p>
		</div><!-- subtitulo -->
		<form action="">
			<input type="text" name="Nombre" placeholder="Tipo de mascota">
			<input type="text" name="Descripcion" placeholder="Descripcion">
			<input type="text" name="Telefono" placeholder="Telefono">
			<textarea name="" placeholder="Escriba su mensaje"></textarea>
			<input type="button" value="Enviar" id="button">
		</form>
	</section>
</body>